@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello there!</h1>
    <p class="lead">I am Jeremy Jacala, a graduating student from University of the East - Manila. I took up Bachelor of Science in Information Technology. I am not that talented when it comes to front-end, so please bear with this default bootstrap interface</p>
    <p>If you want to know about me more, please click <a href="https://goo.gl/2S0wAE" title="LinkedIn Account">here &raquo;</a></p>
    </p><a href="https://goo.gl/4aGPUo" title="Supporting Documents & CV">Link to my supporting documents &raquo;</a></p>
</div>