@{
    ViewBag.Title = "List";
}
<table class='table table-bordered table-hover'>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Contact Number</th>
    </tr>

    <tr>
        <td>Jeremy</td>
        <td>Jacala</td>
        <td>09178926017</td>
    </tr>

    <tr>
        <td>User1</td>
        <td>User1</td>
        <td>1</td>
    </tr>

    <tr>
        <td>User2</td>
        <td>User2</td>
        <td>2</td>
    </tr>

    <tr>
        <td>User3</td>
        <td>User3</td>
        <td>3</td>
    </tr>

    <tr>
        <td>User4</td>
        <td>User4</td>
        <td>4</td>
    </tr>

    <tr>
        <td>User5</td>
        <td>User5</td>
        <td>5</td>
    </tr>

    <tr>
        <td>User6</td>
        <td>User6</td>
        <td>6</td>
    </tr>

    <tr>
        <td>User7</td>
        <td>User7</td>
        <td>7</td>
    </tr>

    <tr>
        <td>User8</td>
        <td>User8</td>
        <td>8</td>
    </tr>

    <tr>
        <td>User9</td>
        <td>User9</td>
        <td>9</td>
    </tr>

    <tr>
        <td>User10</td>
        <td>User10</td>
        <td>10</td>
    </tr>

    <tr>
        <td>User11</td>
        <td>User11</td>
        <td>11</td>
    </tr>

    <tr>
        <td>User12</td>
        <td>User12</td>
        <td>12</td>
    </tr>

    <tr>
        <td>User13</td>
        <td>User13</td>
        <td>13</td>
    </tr>

    <tr>
        <td>User14</td>
        <td>User14</td>
        <td>14</td>
    </tr>

    <tr>
        <td>User15</td>
        <td>User15</td>
        <td>15</td>
    </tr>

    <tr>
        <td>User16</td>
        <td>User16</td>
        <td>16</td>
    </tr>

    <tr>
        <td>User17</td>
        <td>User17</td>
        <td>17</td>
    </tr>

    <tr>
        <td>User18</td>
        <td>User18</td>
        <td>18</td>
    </tr>

    <tr>
        <td>User19</td>
        <td>User19</td>
        <td>19</td>
    </tr>

    <tr>
        <td>User20</td>
        <td>User20</td>
        <td>20</td>
    </tr>
</table>